
.metricsValue {
    margin-top: 10px;
    float: right;
    text-align: right;
}
.metricsLabel {
    margin: 10px;
    width: 90px;
}
.sendButton {
    display: block;
    font-size: 16pt;
}
.gwt-DialogBox {
    width: 400px;
}
.dialogVPanel {
    margin: 5px;
}
.serverResponseLabelError {
    color: red;
}
#closeButton {
    margin: 15px 6px 6px;
}
.contentHolder {
    height: 100%;
    margin: auto;
    width: 100%;
}
.gwt-Image {
    height: 480px;
    width: 640px;
}
.layoutPanel {
    margin-top: 80%;
}
.canvas {
    border: 1px solid lightgrey;
}
.gwt-Button {
}
.gwt-horizontalPanel {
    border: 2px solid lightgrey;
}
.gwt-ColorWhite {
    background-color: #FEFDFD;
    border: 1px solid #F1E7E7;
}
.gwt-ColorWhite2 {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
}
.gwt-ColorWhite3 {
    background-color: #CBCACA;
    border: 1px solid #CBCACA;
}
.gwt-ColorBlack1 {
    background-color: #848484;
    border: 1px solid #848484;
}
.gwt-ColorBlack2 {
    background-color: #494949;
    border: 1px solid #494949;
}
.gwt-ColorBlack3 {
    background-color: #000000;
    border: 1px solid #000000;
}
.rootPanel {
}
.rootPanel-new {
    border: 2px solid menu;
}
.gwt-Frame {
    transform: scale(0.6666);
    transform-origin: 0 0 0;
    -ms-transform: scale(0.6666);
    -ms-transform-origin: 0 0 0;
    -moz-transform: scale(0.6666);
    -moz-transform-origin: 0 0 0;
    -webkit-transform: scale(0.6666);
    -webkit-transform-origin: 0 0 0;
    -o-transform: scale(0.6666);
    -o-transform-origin: 0 0 0;
}
.panellat {
    border: 1px solid lightgrey;
}
.object {
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectBlack3 {
	color: white;
	background-color: #000000;
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectBlack2 {
	color: white;
	background-color: #494949;
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectBlack1 {
	color: white;
	background-color: #848484;
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectWhite1 {
	color: black;
	background-color: #CBCACA;
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectWhite2 {
	color: black;
	background-color: #EAEAEA;
    border: 0.5px solid black;
    margin-top: 10px;
}

.objectWhite3 {
	color: black;
	background-color: #FEFDFD;
    border: 0.5px solid black;
    margin-top: 10px;
}

.delete {
}
.LabelObject {
    margin: auto;
    width: 80px;
}
.Label {
    font-size: 10pt;
}
