
.h1 {
    color: brown;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    width: 29%;
}
.h2 {
    color: black;
    font-size: 25px;
    margin: 10px auto 40px;
    width: 75%;
}
.titre {
    margin: 15% auto auto;
    width: 600px;
}
.lien {
    margin: 20px auto auto;
    width: 56px;
}
a {
    margin: auto;
    width: 200px;
}
.input {
    margin: auto;
    width: 34%;
}
.titlePanel {
    margin: 10% auto auto;
    width: 50%;
}
.textBox {
    font-size: 11px;
    height: 13px;
    width: 100%;
}
.okButton {
    height: 30px;
    margin-left: 35%;
    margin-top: 20px;
    width: 30%;
}
.labelurl {
    margin-bottom: 5px;
}
body {
    max-height: 100%;
    min-height: 100%;
}
.labelor {
    color: brown;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
.image {
    width: 250px;
    margin: auto;
    margin-top: 10px;
}
.labelsc {
    margin-bottom: 5px;
}
